* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a0a0a;
  color: #00ff00;
  font-family: "Courier New", monospace;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scrollbar-width: thin; /* Для Firefox: тонкий скроллбар */
  scrollbar-color: #606060 transparent; /* Цвет ползунка и трека */
  background: #afafaf;
}

.terminal-container {
  height: 480px;
  width: 720px;
  display: flex;
  flex-direction: column;
}

.xterm-viewport {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.header {
  text-align: center;
}

.command-highlight {
  color: #ff6b6b;
}

.success {
  color: #00ff88;
}

.warning {
  color: #ffd93d;
}

.info {
  color: #4fc3f7;
}

/* Для WebKit-браузеров (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
  width: 4px; /* Ширина вертикального скроллбара */
  height: 4px; /* Высота горизонтального скроллбара */
}

body::-webkit-scrollbar-track {
  background: transparent; /* Прозрачный фон трека */
}

body::-webkit-scrollbar-thumb {
  background-color: #606060; /* Цвет ползунка */
  border-radius: 4px; /* Закругление углов */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #808080; /* Цвет при наведении */
}

.header {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000000;
  background-color: #f5f5f5;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.header__controls {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.header__control {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.header__control--red {
  background-color: #ef4444;
}

.header__control--orange {
  background-color: #f97316;
}

.header__control--green {
  background-color: #16a34a;
}

.header__title {
  flex: 1 1 0%;
  text-align: center;
  font-size: 18px;
}
